html *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: center;
}

.logobanner{
    width: 1400px;
    height: 300px;
    background-image: url("../images/logo.PNG");
    background-repeat: no-repeat;
    background-position: center;
}

.navigationbar{
    list-style-type: none;
    padding: 0;
    max-width: 1400px;
    width: 100%;
}

.navigationbar li{
    float: left;
    line-height: 80px;
    background-color: #F72F37;
    font-size: 20px;
    width: 19%;
    border-right: black 1px solid;
    box-shadow: 0px 5px 5px black;
}

.navigationbar .first{
    border-radius: 15px 0px 0px 15px;
}

.navigationbar .last{
    border-radius: 0px 15px 15px 0px;
    border-right: 0px;
}

.navigationbar a{
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
    color: #f8f8f8;
}

.navigationbar a:hover{
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
    color: #3a1212;
}

.welcome-banner{
    background-image: url("../images/wallpaper.png");
    height: 500px;
    width: 1200px;
    background-position: center;
    background-size: cover;
}

.section{
    width: 1200px;
    height: 500px;
    margin-top: 5px;
}

.section .infobox-left{
    background-color: #F72F37;
    width: 30%;
    padding: 30px;
    width: 300px;
    margin-left: 0px;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
    border-radius: 0px 15px 15px 15px;

}

.section .infobox-right{
    background-color: #F72F37;
    width: 30%;
    padding: 30px;
    width: 300px;
    margin-right: 0px;
    margin-left: auto;
    box-shadow: -5px 5px 5px black;
    border-radius: 15px 0px 15px 15px;
}

.headline{
    color: #f8f8f8;
    font-size: 35px;
}

.bannerhl{
    color: #f8f8f8;
    font-size: 35px;
    margin-top: 50px;
    position: center;
}

.subhead{
    color: #f8f8f8;
    font-size: 25px;;
}

.beschreibung{
    color:whitesmoke;
    font-size: 18px;
}

body{
    margin-top: 0px;
    margin-left: 10px;
    font-style: 'Verdana';
}

.gbclassic{
    background-image: url("../images/gbclassic.jpg");
    background-position: center;
    height: 500px;
    margin: 0px;
}

.gbcolor{
    background-image: url("../images/gbcolor.jpg");
    background-position: center;
    height: 500px;
    margin: 0px;
}

.gbadvance{
    background-image: url("../images/gbadvance.jpg");
    background-position: center;
    height: 500px;
    margin: 0px;
}

.gbadvancesp{
    background-image: url("../images/gbadvancesp.jpg");
    background-position: center;
    height: 500px;
    margin: 0px;
}

.social{
    background-image: url("../images/insta.jpg");
    background-position: center;
    height: 500px;
    margin: 0px;
}

.buttons input[type="button"]{
    top: 10px;
    left: 8px;
    font-size: 17px;
    background-color: white;
    border: none;
    padding: 10px;
    color: black;
}
